<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcsservice.model.AccountMapper">
    <resultMap type="com.fcsservice.model.Account" id="AccountResult">
        <result column="user_account" property="user_account"/>
        <result column="user_password" property="user_password"/>
        <result column="user_type" property="user_type"/>
        <result column="user_regtime" property="user_regtime"/>
        <result column="user_status" property="user_status"/>
    </resultMap>

    <!-- 查询菜单 -->
    <select id="getPassword" parameterType="string" resultType="string">
        SELECT user_password FROM fcsuseraccount WHERE user_account=#{user_account}
    </select>

</mapper>