<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcsservice.model.dto.AlbumMapper" >
  <resultMap id="BaseResultMap" type="com.fcsservice.model.pojo.Album" >
    <id column="album_id" property="albumId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="album_name" property="albumName" jdbcType="VARCHAR" />
    <result column="album_picture" property="albumPicture" jdbcType="VARCHAR" />
    <result column="album_time" property="albumTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    album_id, user_id, album_name, album_picture, album_time
  </sql>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fcsalbum
    where album_name = #{arg1}
    AND user_id = #{arg0}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from fcsalbum
    where user_id = #{user_id,jdbcType=VARCHAR}
    ORDER BY album_time ASC
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fcsalbum
    where album_id = #{albumId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fcsalbum
    where album_id = #{albumId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fcsservice.model.pojo.Album" >
    insert into fcsalbum (album_id, user_id, album_name, 
      album_picture, album_time)
    values (#{albumId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{albumName,jdbcType=VARCHAR}, 
      #{albumPicture,jdbcType=VARCHAR}, #{albumTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fcsservice.model.pojo.Album" >
    insert into fcsalbum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="albumName != null" >
        album_name,
      </if>
      <if test="albumPicture != null" >
        album_picture,
      </if>
      <if test="albumTime != null" >
        album_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        #{albumId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null" >
        #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumPicture != null" >
        #{albumPicture,jdbcType=VARCHAR},
      </if>
      <if test="albumTime != null" >
        #{albumTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fcsservice.model.pojo.Album" >
    update fcsalbum
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null" >
        album_name = #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumPicture != null" >
        album_picture = #{albumPicture,jdbcType=VARCHAR},
      </if>
      <if test="albumTime != null" >
        album_time = #{albumTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where album_id = #{albumId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fcsservice.model.pojo.Album" >
    update fcsalbum
    set user_id = #{userId,jdbcType=VARCHAR},
      album_name = #{albumName,jdbcType=VARCHAR},
      album_picture = #{albumPicture,jdbcType=VARCHAR},
      album_time = #{albumTime,jdbcType=TIMESTAMP}
    where album_id = #{albumId,jdbcType=VARCHAR}
  </update>
</mapper>