<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcsservice.model.dto.DictdataMapper" >
  <resultMap id="BaseResultMap" type="com.fcsservice.model.pojo.Dictdata" >
    <id column="dactionarydata_id" property="dactionarydataId" jdbcType="INTEGER" />
    <result column="dictionarycategory_id" property="dictionarycategoryId" jdbcType="INTEGER" />
    <result column="dictionarydata_value" property="dictionarydataValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dactionarydata_id, dictionarycategory_id, dictionarydata_value
  </sql>
  <select id="selectByDatecateId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from fcsdictdata
    where dictionarycategory_id = #{datecateId,jdbcType=INTEGER}
  </select>
  <select id="selectByValue" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from fcsdictdata
    where dictionarydata_value = #{dictionarydata_value,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fcsdictdata
    where dactionarydata_id = #{dactionarydataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fcsdictdata
    where dactionarydata_id = #{dactionarydataId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fcsservice.model.pojo.Dictdata" >
    insert into fcsdictdata (dactionarydata_id, dictionarycategory_id, 
      dictionarydata_value)
    values (#{dactionarydataId,jdbcType=INTEGER}, #{dictionarycategoryId,jdbcType=INTEGER}, 
      #{dictionarydataValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fcsservice.model.pojo.Dictdata" >
    insert into fcsdictdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dactionarydataId != null" >
        dactionarydata_id,
      </if>
      <if test="dictionarycategoryId != null" >
        dictionarycategory_id,
      </if>
      <if test="dictionarydataValue != null" >
        dictionarydata_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dactionarydataId != null" >
        #{dactionarydataId,jdbcType=INTEGER},
      </if>
      <if test="dictionarycategoryId != null" >
        #{dictionarycategoryId,jdbcType=INTEGER},
      </if>
      <if test="dictionarydataValue != null" >
        #{dictionarydataValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fcsservice.model.pojo.Dictdata" >
    update fcsdictdata
    <set >
      <if test="dictionarycategoryId != null" >
        dictionarycategory_id = #{dictionarycategoryId,jdbcType=INTEGER},
      </if>
      <if test="dictionarydataValue != null" >
        dictionarydata_value = #{dictionarydataValue,jdbcType=VARCHAR},
      </if>
    </set>
    where dactionarydata_id = #{dactionarydataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fcsservice.model.pojo.Dictdata" >
    update fcsdictdata
    set dictionarycategory_id = #{dictionarycategoryId,jdbcType=INTEGER},
      dictionarydata_value = #{dictionarydataValue,jdbcType=VARCHAR}
    where dactionarydata_id = #{dactionarydataId,jdbcType=INTEGER}
  </update>
</mapper>