<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcsservice.model.dao.TypeMapper" >
  <resultMap id="BaseResultMap" type="com.fcsservice.model.pojo.Type" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_number" property="typeNumber" jdbcType="INTEGER" />
    <result column="type_supcategpry" property="typeSupcategpry" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, type_number, type_supcategpry, type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fcstype
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fcstype
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fcsservice.model.pojo.Type" >
    insert into fcstype (type_id, type_number, type_supcategpry, 
      type_name)
    values (#{typeId,jdbcType=INTEGER}, #{typeNumber,jdbcType=INTEGER}, #{typeSupcategpry,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fcsservice.model.pojo.Type" >
    insert into fcstype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeNumber != null" >
        type_number,
      </if>
      <if test="typeSupcategpry != null" >
        type_supcategpry,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeNumber != null" >
        #{typeNumber,jdbcType=INTEGER},
      </if>
      <if test="typeSupcategpry != null" >
        #{typeSupcategpry,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fcsservice.model.pojo.Type" >
    update fcstype
    <set >
      <if test="typeNumber != null" >
        type_number = #{typeNumber,jdbcType=INTEGER},
      </if>
      <if test="typeSupcategpry != null" >
        type_supcategpry = #{typeSupcategpry,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fcsservice.model.pojo.Type" >
    update fcstype
    set type_number = #{typeNumber,jdbcType=INTEGER},
      type_supcategpry = #{typeSupcategpry,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>